@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';


@layer components {
  .custom-pagination {
    @apply flex justify-center;
    padding-bottom: 20px 
  }
  .custom-pagination .swiper-pagination-bullet {
    @apply bg-gray-300 opacity-100;
    width: 6px;
    height: 6px; 
    margin: 0 6px; 
    transition: background-color 0.3s ease; 
  }

  .custom-pagination .swiper-pagination-bullet-active {
    @apply bg-[#4DB6AC]; 
  }
  
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Smaller scrollbar width */
  height: 1px; /* Smaller scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c2c6cd;  /* Scrollbar thumb color */
  border-radius: 2px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F3F4F6; /* Scrollbar track color */
  border-radius: 2px; /* Rounded corners for the track */
}





@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-flow {
  background-size: 400% 400%;
  animation: gradient-flow 15s ease infinite;
}





:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.alert {
  background: #fff;
  border-radius: 50%;
  box-shadow: #fff 0 0 0 0;
  margin: 9px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse 1.2s infinite; 
}

@keyframes pulse {
  0% {
    transform: scale(.95);
    box-shadow: rgba(255, 255, 255, .7) 0 0 0 0;
}
70% {
  transform: scale(1);
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 7px;
}
100% {
  transform: scale(.95);
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
}
}
html {
  scroll-behavior: smooth;
}
@keyframes textPop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pricing-text {
  animation: textPop 0.6s ease-in-out infinite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.features-title {
  animation: heartbeat 1s ease forwards; /* 1 second for the heartbeat */
  animation-iteration-count: infinite; /* Repeat indefinitely */
  animation-delay: 0s; /* Start immediately */
  animation-timing-function: ease-in-out; /* Smooth transition */
}
 .main-animation{
  /* background: #009688; */
  overflow: hidden;
 }
.loop-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  /* width: 600px; */
  height: 250px;
  overflow: hidden;
  /* border-bottom: 3px solid #fff; */
  color: #fff;
}
.mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow: 
    0 0 0 50px #4DB6AC,
    60px 50px 0 70px #4DB6AC,
    90px 90px 0 50px #4DB6AC,
    250px 250px 0 50px #4DB6AC,
    290px 320px 0 50px #4DB6AC,
    320px 400px 0 50px #4DB6AC
    ;
  transform: rotate(130deg);
  animation: mtn 20s linear infinite;
}
.hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 
    0 0 0 50px #4DB6AC,
    -20px 0 0 20px #4DB6AC,
    -90px 0 0 50px #4DB6AC,
    250px 0 0 50px #4DB6AC,
    290px 0 0 50px #4DB6AC,
    620px 0 0 50px #4DB6AC;
  animation: hill 10s 2s linear infinite;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
  position: absolute;
  height: 100px; 
  width: 35px;
  bottom: 0;
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat; */
}
.rock {
  margin-top: -17%;
  height: 2%; 
  width: 2%;
  bottom: -2px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
}
.truck, .wheels {
  transition: all ease;
  width: 160px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
}
.truck {
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat; */
  /* background-size: 135px; */
  background-color: transparent;
  height: 95px;
}
.truck:before {
  content: "Find Now";
  position: absolute;
  margin-left: -44%;
  margin-top: 18%;
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .truck:before {
    font-size: 14px; /* Adjust the font size as needed */
    margin-left: -74px;
    font-weight: bold;
  }
}

/* @media (max-width: 480px) {
  .truck:before {
    font-size: 10px;
  }
} */
.wheels {
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat; */
  /* background-size: 135px; */
  background-color: transparent;
  /* height: 25px; */
  /* margin-left: 100px; */
  margin-bottom: 0;
}
.find-now {
  position: absolute;
  top: 47%;
  left: 27%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.wheels  { animation: truck 4s   0.001s ease infinite; }
.truck:before { animation: wind 1.5s   0.000s ease infinite; }


@keyframes tree {
  0%   { transform: translate(1350px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree2 {
  0%   { transform: translate(650px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree3 {
  0%   { transform: translate(2750px); }
  50% {}
  100% { transform: translate(-50px); }
}

@keyframes rock {
  0%   { right: -200px; }
  100% { right: 2000px; }
}
@keyframes truck {
  0%   { }
  29%   { transform: translateY(0px); }
  30%   { transform: translateY(-3px); }
  36%   { transform: translateY(0px); }
  37%   { transform: translateY(-1px); }
  38%   { transform: translateY(0px); }
  100%   { }
}
@keyframes wind {
  0%   {  }
  50%   { transform: translateY(3px) }
  100%   { }
}
@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}
@keyframes hill {
  100% {
    transform: translateX(-3000px);
  }
}

