@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your main CSS file */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.alert {
  background: #fff;
  border-radius: 50%;
  box-shadow: #fff 0 0 0 0;
  margin: 9px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse 1.2s infinite; /* Use the name of the keyframes here */
}

@keyframes pulse {
  0% {
    transform: scale(.95);
    box-shadow: rgba(255, 255, 255, .7) 0 0 0 0;
}
70% {
  transform: scale(1);
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 7px;
}
100% {
  transform: scale(.95);
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
}
}
html {
  scroll-behavior: smooth;
}
